<body>
    <div class="container">
        <img src="https://placehold.co/600x400" class="rounded float-start" alt="...">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"> {{ product item }}</h5>
                <h6 class="card-title"> {{ $ product price }}</h6>
                <p class="card-text"> {{ any description ? }}</p>
            </div>
        </div>
        <a href="#" class="btn btn-primary float-end">Add to Cart</a>
    </div>
</body>