<div class='container container-fluid mt-5'>
  <div id='carouselExampleIndicators' class='carousel slide'>
    <div class='carousel-indicators'>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='0'
        class='active'
        aria-current='true'
        aria-label='Slide 1'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='1'
        aria-label='Slide 2'
      ></button>
      <button
        type='button'
        data-bs-target='#carouselExampleIndicators'
        data-bs-slide-to='2'
        aria-label='Slide 3'
      ></button>
    </div>
    <div class='carousel-inner'>
      <div class='carousel-item active'>
        <a href='/products/1'><img
            src='/images/feature-protein.jpg'
            class='d-block w-100'
            alt='advert protein'
          /></a>
      </div>
      <div class='carousel-item'>
        <a href='/products/3'><img
            src='/images/feature-dumbbell.jpg'
            class='d-block w-100'
            alt='advert dumbbell'
          /></a>
      </div>
      <div class='carousel-item'>
        <a href='/products/5'><img
            src='/images/feature-bottle.jpg'
            class='d-block w-100'
            alt='advert bottle'
          /></a>
      </div>
    </div>
    <button
      class='carousel-control-prev'
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide='prev'
    >
      <span class='carousel-control-prev-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Previous</span>
    </button>
    <button
      class='carousel-control-next'
      type='button'
      data-bs-target='#carouselExampleIndicators'
      data-bs-slide='next'
    >
      <span class='carousel-control-next-icon' aria-hidden='true'></span>
      <span class='visually-hidden'>Next</span>
    </button>
  </div>
</div>