{{!-- <div class="container-sm mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <h5>Login</h5>
            <div class="form-floating mb-3 mt-4">
                <input type="email" class="form-control" id="email-login" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password-login" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <button class="btn btn-primary float-end" type="submit">Login</button>
        </div>
        <div class="col-md-4 offset-md-2">
            <h5>Sign Up to DELT</h5>
            <div class="form-floating mb-3 mt-4">
                <input type="name" class="form-control" id="floatingInput" placeholder="name">
                <label for="floatingInput">Name</label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password-signup" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-group">
                <button class="btn btn-primary float-end" type="submit">Sign Up</a>
            </div>
        </div>
    </div>
</div> --}}

<div class="row">
    <div class="col-md-6">
        <h2>Login</h2>

        <form class="form login-form">
            <div class="form-group">
                <label for="email-login">email:</label>
                <input class="form-input" type="text" id="email-login" />
            </div>
            <div class="form-group">
                <label for="password-login">password:</label>
                <input class="form-input" type="password" id="password-login" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">login</button>
            </div>
        </form>
    </div>
    <div class="col-md-6">
        <h2>Signup</h2>

        <form class="form signup-form">
            <div class="form-group">
                <label for="name-signup">name:</label>
                <input class="form-input" type="text" id="name-signup" />
            </div>
            <div class="form-group">
                <label for="email-signup">email:</label>
                <input class="form-input" type="text" id="email-signup" />
            </div>
            <div class="form-group">
                <label for="phone-signup">phone:</label>
                <input class="form-input" type="text" id="phone-signup" />
            </div>
            <div class="form-group">
                <label for="address-signup">address:</label>
                <input class="form-input" type="text" id="address-signup" />
            </div>
            <div class="form-group">
                <label for="password-signup">password:</label>
                <input class="form-input" type="password" id="password-signup" />
            </div>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">signup</button>
            </div>
        </form>
    </div>
</div>

<script src="./js/login.js"></script>