<div class='container-sm mt-5'>
  <div class='row justify-content-center'>
    <div class='col-md-4'>
      <h3>Login</h3>
      <form class='form login-form mt-4'>
        <div class='form-floating mb-3'>
          <input
            type='email'
            class='form-control'
            id='email-login'
            placeholder='email'
          />
          <label for='floatingInput'>email</label>
        </div>
        <div class='form-floating mb-3'>
          <input
            type='password'
            class='form-control'
            id='password-login'
            placeholder='password'
          />
          <label for='password-login'>password</label>
        </div>
        <div class='form-group'>
          <button class='btn btn-primary' type='submit'>Login</button>
        </div>
      </form>
    </div>
    <div class='col-md-4 offset-md-2'>
      <h3>Sign Up</h3>
      <form class='form signup-form mt-4'>
        <div class='form-floating mb-3'>
          <input
            type='name'
            class='form-control'
            id='name-signup'
            placeholder='username'
          />
          <label for='floatingInput'>username</label>
        </div>
        <div class='form-floating mb-3'>
          <input
            type='email'
            class='form-control'
            id='email-signup'
            placeholder='email'
          />
          <label for='floatingInput'>email</label>
        </div>
        <div class='form-floating mb-3'>
          <input
            type='phone'
            class='form-control'
            id='phone-signup'
            placeholder='phone'
          />
          <label for='floatingInput'>phone</label>
        </div>
        <div class='form-floating mb-3'>
          <input
            type='address'
            class='form-control'
            id='address-signup'
            placeholder='address'
          />
          <label for='floatingInput'>address</label>
        </div>
        <div class='form-floating mb-3'>
          <input
            type='password'
            class='form-control'
            id='password-signup'
            placeholder='password'
          />
          <label for='floatingInput'>password</label>
        </div>
        <div class='form-group'>
          <button class='btn btn-primary' type='submit'>Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src='./js/login.js'></script>