<body>
    <div class="container">
        <img src=" {{ images }}" class="rounded float-start" alt="...">
        <div class="card h-100">
            <div class="card-body">
                <h5 class="card-title"> {{ product_name }}</h5>
                <h6 class="card-title"> {{ price }}</h6>
                <p class="card-text"> {{ product_description }}</p>
            </div>
        </div>
        <a href="#" class="btn btn-primary float-end">Add to Cart</a>
    </div>
</body>