<div class="container mt-4">
    <h2>{{ category_name }}</h2>
    <div class="row mt-5">
        <div class="col">
            {{#each products as |product|}}
            {{> productCard this}}
            {{/each}}
        </div>
    </div>
</div>
</div>